/* Currently unused */
:root {
    --transition-time: 5s;
}

.card-container {
    width: 125px;
    height: 175px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    border: 3px solid black;
    transition: margin .3s ease, border .5s ease;;
    color: black;
    margin-top: 30px;
    box-shadow: 3px 3px 8px black;
}

.selected {
    margin-top: -20px;
    margin-bottom: 50px;
    transition: margin .3s ease;
}

.overlap {
    margin-left: -50px;
    
}

.card-container:first-child {
    margin-left: 0px;
}

.edge-suit {
    height: 20px;
    width: 20px;
}

.card-label {
    display: flex;
    font-weight: bold;
    font-size: 130%;
}

.center-suit {
    width: 50%;
    margin: 30px auto;
}

.selected.outlined {
    border: 3px solid var(--border-selected);
    transition: margin .5s ease, border .5s ease;
}

.selected.outlined.matched {
    border: 3px solid var(--border-success);
    transition: margin .5s ease, border .5s ease;
}

.revealed {
    border: 3px solid red;
    transition: margin .5s ease, border .5s ease;
}

.selected.outlined.revealed {
    border: 3px solid red;
    transition: margin .5s ease, border .5s ease;
}