.primary-btn {
    /* position: absolute; */
    width: 95vw;
    height: 12vh;
    /* left: calc(50% - 327px/2);
    top: 242px; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    margin: 10px auto;
    /* Primary/Lighter */
    background: #C6C4FF;
    border-radius: 28px;
    
}

.menu-container {
    margin: 20px 0 20px 0;
}

h1 {
    text-align: center;
}

/* .menu-container {

} */