.test-container {
    width: 80vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .abs-center-x {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
  }

  .best-container {
    margin-top: -60px;
    display: flex;
    width: 50vw;
    transform: scale(.6);
  }

  .div-center {
      width: 80%;
      margin: auto;
  }
  
  .hand-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
    bottom: calc(var(--nav-height) + 1vh);
  }

  .chart {
    background-color: var(--primary);
    width: 95%;
    max-width: 500px;
    height: 25vh;
    bottom: var(--nav-height);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;
    display: flex;
    align-items: center;
  }

  .results-table {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap:.2rem;
    margin-bottom: .8rem;
}



#score-hand {
  transition: bottom .3s ease;
  max-width: 300px;
  left: 50%;
  bottom: 5rem;
  width: 35%;
  height: 3rem;
  /* transform: translateY(0%); */
}

#score-hand.scared {
  bottom: -3rem;
  user-select: none;
  /* transition: bottom .5s ease; */
}

#score-hand.both {
  left: 30%;
  transition: left .3s ease;
}

#chart-btn {
  max-width: 300px;
  left: 30%;
  bottom: -3rem;
  width: 35%;
  height: 3rem;
}

#chart-btn.both {
  left: 70%;
  bottom: 5rem;
  transition: bottom .3s ease;
}