.test-container {
    width: 80vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .hand-container {
    display: flex;
    justify-content: center;
  }