.test-container {
    width: 80vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .best-container {
    margin-top: -30px;
    display: flex;
    width: 50vw;
    transform: scale(.6);
  }

  /* .best-container > * {
      
      
  } */
  
  .hand-container {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: auto;
  }